* {
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: Merienda, cursive;
    margin: 0;
    background-color: rgb(28, 40, 56);
    height: 2400px;
    display: flex;
    flex-direction: column;
}

.backgroundphoto {
    position: absolute;
    z-index: 0;
    opacity: 0.7;
    object-fit: contain;
}

.headbar {
    position: fixed;
    z-index: 1001;
    width: 100vw;
    height: 40px;
    background-color: rgb(51, 57, 66);
    top: 0px;
}

/*--------------------sidebar---------------------------*/
.dropdown {
    float: left;
    height: 50px;
    width: 40px;
}

.dropbtn {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1100;
    width: 10px;
    color: white;
    background-color: rgba(51, 57, 66, 0);
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: rgba(87, 107, 119, 0.621);
    border: solid 1px rgba(113, 108, 108, 0.112);
    width: 230px;
    line-height: 2;
    z-index: 10;
    color: white;
    font-size: 25px;
    transition: 2s;
}

.dropdown:hover .dropdown-content {
    display: block;

}

/*----*/
#home-sidebar,
#about-sidebar,
#collection-sidebar,
#contact-sidebar {
    padding: 2px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(100, 110, 116, 0.766);
    color:white;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }



.location-sidebar {
    text-decoration: underline;
}

.location-sidebar>p {
    padding-left: 50px;
    margin: 0;
    font-size: 20px;
}

#home-sidebar:hover,
#collection-sidebar:hover,
#about-sidebar:hover,
#contact-sidebar:hover,
.location-sidebar>p:hover {
    background-color: rgba(122, 139, 162, 0.789);
    cursor: pointer;
}
/*-------------------------------------------------*/
#home-container {
    z-index: 1000;
    padding-top: 200px;
    height: 100vh;
    text-align: center;
}

.introduction {
    color: rgba(255, 255, 255, 0.642);
    font-size: 30px;
    animation-name: homepage;
    animation-duration: 6s;
}

@keyframes homepage {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@media screen and (max-width: 900px) {
    .introduction {
        font-size: 18px;
        color: white;
        transition: 1s;
    }

    #home-container {
        padding-top: 100px;
        padding-left: 30px;
        padding-right: 30px;
        height: 370px;
        transition: 1s;
    }
}

/*--------------------------------*/

#about-container {
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 450px;
    color: white;
    background-color: rgba(60, 70, 82, 0.729);
}

.myPhoto {
    width: 400px;
}

.me {
    width: 400px;
    border-radius: 10px;
    margin-top: 25px;
}

.aboutMe {
    width: 600px;
    margin: 40px 20px;
    font-size: 20px;
}

@media screen and (max-width: 900px) {
    #about-container {
        flex-direction: column;
        height: 700px;
        align-items: center;
        transition: 1s
    }

    .myPhoto>.me {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .aboutMe {
        text-align: center;
        font-size: 16px;
    }
}

/*----------------------------------------------*/

#collection-container {
    display: flex;
    z-index: 1000;
    width: 100%;
    margin-top: 90px;
    padding: 12px 10px;
    padding-bottom: 2px;
    justify-items: center;
    background-color: rgba(52, 62, 73, 0.729);
    color: white;
    text-align: center;
    font-size: 14px;

}

#collection-container>div {
    margin: 4px 4px;
    flex-basis: 33%;
}

#newZealand,
#outsideNewZealand,
#protrait {
    cursor: pointer;
    padding-bottom: 6px;
    opacity: 0.5
}

#newZealand:hover,
#outsideNewZealand:hover,
#protrait:hover {
    opacity: 1;
}

@media screen and (max-width: 1000px) {
    #collection-container {
        flex-direction: column;
    }
}

/*-----------------Contact--------------------*/
#contact-container {
    z-index: 1000;
    display: flex;
    width: 100%;
    margin-top: 60px;
    justify-items: space-around;
}

.otherlink-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 30px;
    width: 100%;
    margin-top: 5px;
    margin-left:20px;
}

#moreAboutMe {
    text-align: center;
    margin-top:2px;
    font-size:30px;
}

.otherlink-icons{
    display:flex;
    width:200px;
    padding:2px 2px;
}

.otherlink-icons i {
    color:white;
}

.subscribe {
    text-align: center;
}

.subscribe>p {
    color: rgb(196, 192, 192);
    font-size: 18px;;
}

#subscribe-email {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 4px;
}

#subscribe-email::placeholder {
    font-size: 14px;
}

.signUpBtn {
    background-color: rgba(87, 107, 119, 0.621);
    border: none;
    color: white;
    box-shadow: 1px 1px 3px grey;
    width:100px;
    padding: 10px 4px;
    margin-bottom: 4px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.signUpBtn:hover {
    background-color: rgba(122, 139, 162, 0.789);
}

/*-----------------------*/



fieldset {
    color: white;
    width: 50%;
    margin-left: 100px;
    padding-bottom: 8px;
}

fieldset>p {
    color: rgb(196, 192, 192);
}

legend {
    font-size: 30px;
}

form {
    width: 470px;
    background-color: rgb(28, 40, 56);
    color: white;
    padding-top: 8px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

label {
    color: white;
    margin: 4px;
    display: block;
}

input {
    margin: 4px;
    color: black;
    width: 300px;
}

textarea {
    height: 100px;
    width: 100%;
}

#submitbtn {
    background-color: rgba(87, 107, 119, 0.621);
    border: none;
    color: white;
    box-shadow: 1px 1px 3px grey;
    padding: 10px 10px;
    margin-top: 12px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

#submitbtn:hover {
    background-color: rgba(122, 139, 162, 0.789);
}

@media screen and (max-width:1000px) {

    #contact-container {
        flex-direction: column;
        justify-content: center;
    }



    fieldset {
        width:100vw;
        margin:30px 0;   
    }

    form{
        margin:auto;
        text-align: center;
    }


}



/*-----------footer----------------------*/
footer {
    position: fixed;
    z-index: 1005;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(51, 57, 66);
    color: rgba(196, 192, 192, 0.84);
    padding-right: 30px;

}

.footerBar {
    margin: 12px 20px;
    font-size: 8px;
    text-align: end;
}