* {
    box-sizing:border-box;
}

body {
    font-family:Arial;
    margin: 0;
}

/*Navbar---------------------------------*/
.navbar {
    display:flex;
    background-color:grey;
}

.navbar a {
    text-decoration:none;
    text-align:center;
}

.navbar a:hover {
    background-color:grey;
}
 .{background-color: light}
