* {
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    background-color: rgb(28, 40, 56);
    height: 2000px;
    display: flex;
    flex-direction: column;
}

.backgroundphoto {
    position: absolute;
    z-index: 0;
    opacity: 0.7;
    object-fit: contain;
}

.headbar {
    position: fixed;
    z-index: 1001;
    width: 100vw;
    height: 40px;
    background-color: rgb(51, 57, 66);
    top: 0px;
}

/*--------------------sidebar---------------------------*/
.dropdown {
    float: left;
    height: 50px;
    width: 40px;
}

.dropbtn {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1100;
    width: 10px;
    color: white;
    background-color: rgba(51, 57, 66, 0);
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: rgba(87, 107, 119, 0.621);
    border: solid 1px rgba(113, 108, 108, 0.112);
    width: 230px;
    line-height: 2;
    z-index: 10;
    color: white;
    font-size: 25px;
    transition: 2s;
}

.dropdown:hover .dropdown-content {
    display: block;

}

/*----*/
#about-sidebar,
#collection-sidebar,
#contact-sidebar {
    padding: 2px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(100, 110, 116, 0.766);
}

.location-sidebar {
    text-decoration: underline;
}

.location-sidebar>p {
    padding-left: 50px;
    margin: 0;
    font-size: 20px;
}

#collection-sidebar:hover,
#about-sidebar:hover,
#contact-sidebar:hover,
.location-sidebar>p:hover {
    background-color: rgba(122, 139, 162, 0.789);
    cursor: pointer;
}

/*-------------------------------------------------*/
.home-container {
    z-index:1000;
    padding-top:200px;
    height:100vh;
    text-align: center;
}

.introduction {
    color:white;
    font-size:25px;
}

@media  screen and (max-width: 600px) {
    .introduction {font-size: 18px;
        color:pink; /*just test*/
    }
    .home-container {
        padding-top:100px;
        padding-left:30px;
        padding-right:30px;
        height:400px;

    }
}





/*-------------------------------------------------*/

#about-container {
    z-index:1000;
    display:flex;
}

#about-container div {


}

.me {
   width:200px;
}