* {
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: Merienda, cursive;
    margin: 0;
    background-color: rgb(28, 40, 56);
    
}

.backgroundphoto {
    position: absolute;
    z-index: 0;
    opacity: 0.5;
    object-fit: contain;
}

.headbar {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 40px;
    background-color: rgb(51, 57, 66);
    top: 0px;
}

/*--------------------sidebar---------------------------*/
.dropdown {
    float: left;
    height: 50px;
    width: 40px;
}

.dropbtn {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1100;
    width: 10px;
    color: white;
    background-color: rgba(51, 57, 66, 0);
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: rgba(87, 107, 119, 0.621);
    border: solid 1px rgba(113, 108, 108, 0.112);
    width: 230px;
    line-height: 2;
    z-index: 10;
    color: white;
    font-size: 25px;
    transition: 2s;
}

.dropdown:hover .dropdown-content {
    display: block;

}

/*----*/
#home-sidebar,
#about-sidebar,
#collection-sidebar,
#contact-sidebar {
    padding: 2px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(100, 110, 116, 0.766);
    color:white;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }
a {color:white;}


.location-sidebar {
    text-decoration: underline;
}

.location-sidebar p {
    padding-left: 50px;
    margin: 0;
    font-size: 20px;
    color:white;
}

#home-sidebar:hover,
#collection-sidebar:hover,
#about-sidebar:hover,asdf
#contact-sidebar:hover,
.location-sidebar>p:hover {
    background-color: rgba(122, 139, 162, 0.789);
    cursor: pointer;
}
/*------------------------------*/
.main-container {
    display: flex;
    flex-direction: column;
    height: 20vh;
}

.photoDisplay {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 50px;
}

.photoDisplay div {
    width: 70vw;
}


#photoNz {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 10;
    width: 70vw;
    
}

.photoDisplay button {
    position: relative;
    width: 35px;
    height: 300px;
    border-radius: 6px;
    border: none;
    background-color: rgba(128, 128, 128, 0.529);
    margin-top: auto;
    margin-bottom: auto;
    margin-left:20px;
    margin-right:20px;
}

.photoDisplay button:hover {
    background-color: rgba(128, 128, 128, 0.732);
}

.photoDisplay button:active {
    background-color: rgb(104, 104, 104);
    box-shadow: 1px 1px 10px grey;
}

#photoName {
    position: relative;
    margin-right:auto;
    margin-left:auto;
    display: block;
    width:70vw;
    color: rgba(2, 2, 2, 0.733);
    font-size: 20px;
    text-align: center;
    z-index: 12;
    background-color: rgba(128, 128, 128, 0.586);
    margin-top: -29px;
}


@media screen and (max-width: 900px) {
    .main-container {
        padding-top:50px;
    }
    .photoDisplay button {
        margin-top: 40px;
        height:100px;
    }

    #photoName {
        font-size: 12px;
        margin-top: -18px;
    }
}



/*-----------footer----------------------*/
footer {
    position: fixed;
    z-index: 1005;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(51, 57, 66);
    color: rgba(196, 192, 192, 0.84);
    padding-right: 30px;

}

.footerBar {
    margin: 12px 20px;
    font-size: 8px;
    text-align: end;
}