* {
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: Merienda, cursive;
    margin: 0;
    background-color: rgb(28, 40, 56);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.backgroundphoto {
    position: absolute;
    z-index: 0;
    opacity: 0.7;
    object-fit: cover;
}

.headbar {
    position: fixed;
    z-index: 1001;
    width: 100vw;
    height: 40px;
    background-color: rgb(51, 57, 66);
    top: 0px;
}

/*--------------------sidebar---------------------------*/
.dropdown {
    float: left;
    height: 50px;
    width: 40px;
}

.dropbtn {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1100;
    width: 10px;
    color: white;
    background-color: rgba(51, 57, 66, 0);
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: rgba(87, 107, 119, 0.621);
    border: solid 1px rgba(113, 108, 108, 0.112);
    width: 230px;
    line-height: 2;
    z-index: 10;
    color: white;
    font-size: 25px;
    transition: 2s;
}

.dropdown:hover .dropdown-content {
    display: block;

}

/*----*/
#home-sidebar,
#about-sidebar,
#collection-sidebar,
#contact-sidebar {
    padding: 2px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(100, 110, 116, 0.766);
    color:white;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }



.location-sidebar {
    text-decoration: underline;
}

.location-sidebar>p {
    padding-left: 50px;
    margin: 0;
    font-size: 20px;
}

#home-sidebar:hover,
#collection-sidebar:hover,
#about-sidebar:hover,
#contact-sidebar:hover,
.location-sidebar>p:hover {
    background-color: rgba(122, 139, 162, 0.789);
    cursor: pointer;
}




































/*-----------footer----------------------*/
footer {
    position: fixed;
    z-index: 1005;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(51, 57, 66);
    color: rgba(196, 192, 192, 0.84);
    padding-right: 30px;

}

.footerBar {
    margin: 12px 20px;
    font-size: 8px;
    text-align: end;
}